.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer {
    background-color: #79b2b4;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
   padding: 70px 30px 70px 30x;
   margin: 0px auto;
   background-color: #3c9da0;
   color: floralwhite
}

.address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f
}

body {
    padding: 0px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark {
    background-color: #244c4e;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
  }

/* honeypot */
input[type="text"]#website { display: none; }